# Binaries for programs and plugins
/wserver
/config.yaml

# log file
*.log

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/
